<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="title">笔记本</div>
    </div>
    <div class="content">
        <div class="catalog">
            <ul class="list">
                <li class="item" v-for="catalog in catalogs.catalogs | orderBy 'id' 1" @click="taskOfCatalogId = catalog.id" :class="{active: catalog.id == taskOfCatalogId}">
                    <label>
                        {{ catalog.name }} 
                        {{ tasks[catalog.id].length }}
                    </label>
                </li>
            </ul>
            <div class="add" v-on:click="toggleModel">
                新增分类
            </div>
        </div>
        <div class="task">
            <div class="list">
                <div class="item" v-for="task in tasks[taskOfCatalogId]" @click="editTask = task" :class="{active: task == editTask}">
                    {{ task.title }}
                    <div class="date">
                        {{ task.updateTime }}
                    </div>
                </div>
            </div>
            <div class="add" @click="addTask">
                新增任务
            </div>
        </div>
        <div class="detail">
            <div class="detail-title">
                <div class="btns">
                    <a href="#" class="btn btn-edit" @click="editable = true">编辑</a>
                    <a href="#" class="btn btn-delete">删除</a>
                    <a href="#" class="btn btn-save" @click="saveTask">保存</a>
                </div>
                <div class="note-text" contenteditable="{{ editable }}" v-text="editTask.title">
                </div>
            </div>
            <div class="detail-date">
                <div v-show="editTask.createTime">
                    创建于: {{ editTask.createTime }}
                    更新于：{{ editTask.updateTime }}
                </div>
            </div>
            <div class="edit-content" contenteditable="{{ editable }}" v-text="editTask.content">
            </div>
        </div>
    </div>
    <div class="model" v-show="model">
        <div class="model-body">
            <input type="text" v-model="newCatalog"  v-on:keyup.enter="addCatalog" placeholder="输入分类名">
            <a class="btn" v-on:click="addCatalog">提交</a>
        </div>
    </div>
    <!-- // <script src="js/vue.js"></script> -->
    <script src="http://cdn.bootcss.com/vue/1.0.0/vue.js"></script>
    <script src="js/storage.js"></script>
    <script src="js/note.js"></script>
</body>
</html>